<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hugh Kim test 4</title>
    <style>
       h {
            font-size: 35px;
        } 
    </style>
</head>
<body>
    <h><b>Declaration (text size in heading 2):</b></h>
    <p>The rest text is displayed in paragraph as shown in screenshot.</p>
    <p1>I acknowledge the College's academic integrity policy - and my own integrity - remain in effect my work is
        done remotely or onsite. Any test or assignment is an act of trust between me and my instructor, and expecially with
        my classmates... even when no one is watching. I declare I will not break that trust.
    <p2></br></br>Name: Hugh Kim</br>
    </p2>
    <p3></br>Student Number: 141050211</br></br></p3>
    {{#navLink "/CPA"}}CPA Students{{/navLink}}
    {{#navLink "/highGPA"}}Highest GPA{{/navLink}}
    {{#navLink "/allStudents"}}All Student{{/navLink}}
    {{#navLink "/addStudent"}}Add A New Student{{/navLink}}
    {{#navLink "/"}}Home{{/navLink}}
    

    {{{body}}}
</body>
</html>